.Product{
    border: 2px solid rgb(230, 61, 61);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 10px 10px 0 ;
    text-align: center;
    background-color: coral;
    margin: 10px;
}